Source: n4d-qt-agent
Section: libs
Priority: optional
Maintainer: Enrique Medina Gremaldos <quiqueiii@gmail.com>
Build-Depends: debhelper (>=9), cmake, make, g++, pkg-config, libedupals-base2 (>=2.1), libedupals-base-dev (>=2.1), libedupals-n4d2 (>=2.4), libedupals-n4d-dev (>=2.4), extra-cmake-modules, qtbase5-dev, qtdeclarative5-dev
Standards-Version: 3.9.7
Homepage: https://github.com/edupals/n4d-qt-agent

Package: n4d-qt-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libedupals-base2 (>= 2.1), libedupals-n4d2 (>=2.4), qml-module-edupals-n4d-agent
Provides: n4d-agent
Description: Qt based N4D login agent
 Graphical utility to perform N4D ticket-based authentifications

Package: qml-module-edupals-n4d-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libedupals-base2 (>= 2.1), libedupals-n4d2 (>=2.4), qml-module-qtquick-controls2, qml-module-org-kde-kirigami2
Description: QML N4D Login Widget
 This is a QML module that provides a login agent widget

